<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>REJA</title>
  </head>
  <body style="background-color: #b8bbd1">
    <div class="container">
      <h1 class="text" style="text-align: center">Reja va maqsadlar</h1>
      <form action="/cread_item" method="POST">
        <input
          type="text"
          name="item"
          id=""
          style="
            height: 20px;
            background-color: rgb(111, 140, 171);
            border-radius: 4px;
            margin-left: 600px;
            width: 600px;
          "
        />
        <button
          style="
            height: 30px;
            border-radius: 10px;
            background-color: rgb(62, 91, 216);
            margin-bottom: 20px;
          "
        >
          Yangi Reja Qoshish
        </button>
        <br />
        <button
          id="clean_all"
          class="btn_clear"
          style="
            border-radius: 20px;
            background-color: rgb(236, 71, 50);
            height: 30px;
            margin-left: 600px;
          "
        >
          Hamma Rejalarni Ochirish
        </button>
      </form>
    </div>
  </body>
</html>
